In [1]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [2]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [3]:
# Call the function add()

add(1)

1 if you add one 2

2

In [4]:
# Call the function add()

add(2)

2 if you add one 3

3

In [5]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [6]:
# Use mult() multiply two integers

Mult(2, 3)

6

In [7]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [8]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [9]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [10]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [11]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 5

5

In [12]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [13]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [14]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5